@import "UTF-8";

*, *::before, *::after {
    margin: 0px;
    box-sizing: border-box;
    overflow-x: hidden;
}

body {
    font-family: 'Segoe UI', Verdana, sans-serif;
}

.header-container {
    display: flex;
    background-color: #2D3A3A;
    padding-top: 20px;
    padding-bottom: 50px;
    justify-content: space-around;
    align-items: center;
}

.header-logo {
    font-weight: bold;
    color: #FCFFFC;
    font-size: 24px;
}

.header-link {
    display: flex;
    justify-content: space-around;
    font-size: 18px;
    column-gap: 25px;
}

.header-link.text {
    color: #bfbdc1;
}

.content-container {
    display: flex;
    background-color: #2D3A3A;
    color: #FCFFFC;
    justify-content: space-evenly;
    padding-top: 50px;
    padding-bottom: 70px;
}

.content {
    display: flex;
    flex-direction: column;
    max-width: 450px;
}

.content .heading {
    display: flex;
    font-size: 48px;
    font-weight: bold;
}

.content .para {
    display: flex;
    color: #bfbdc1;
}

.content .sign-up {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    padding: 7px;
    border-radius: 10px;
    font-size: 20px;
    width: 25%;
    background-color: #2ba84a;
    border-color: #2ba84a;
    border-style: solid;
    color: #252a2a;
}

.image-placeholder {
    display: flex;
    height: 250px;
    width: auto;
}

.info-container {
    display: flex;
    padding: 50px;
    justify-content: center;
}

.info-container .heading {
    display: flex;
    font-size: 36px;
    color: #2D3A3A;
    font-weight: bold;
    text-align: center;
}

.box-container {
    display: flex;
    justify-content: center;
    column-gap: 30px;
}

.boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-basis: 15%;
    flex-shrink: 1;
}

.box {
    display: flex;
    justify-content: center;
    padding: 90px;
    border: 5px solid #2ba84a;
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    flex-shrink: 1;
}

.box-text {
    display: flex;
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
    flex-shrink: 1;
    
}

.quote-container   {
    display: flex;
    flex-wrap: wrap;
    background-color: #E5E7EB;
    justify-content: center;
    font-size: 36px;
    margin: 80px 0px 0px 0px;
    padding: 150px 0px 150px 0px;
}

.quote-container .quote {
    color: #2D3A3A;
    text-align: left;
    flex-basis: 50%;
    font-style: italic;

}

.quote .quote-author {
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
    font-style: normal;
    margin-top: 30px;
    text-align: right;
}

.call-to-action {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    column-gap: 150px;
    padding-top: 40px;
    padding-bottom: 40px;
    background: linear-gradient(to right, #2ba84a, #35e962);
    margin: 100px 400px 100px 400px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px 1px #0000003e;
}

.call-to-action h2 {
    color: #252a2a;
}

.call-to-action p {
    color: #2D3A3A;
}

.call-to-action button {
    padding: 12px 30px 12px 30px;
    background: none;
    border: 3px solid #2D3A3A;
    border-radius: 10px;
    color: #2D3A3A;
    font-weight: bold;
}








.footer {
    display: flex;
    justify-content: center;
    background-color: #2D3A3A;
    padding: 25px;
}

.footer p {
    display: flex;
    font-size: 14px;
    color: #bfbdc1;
}
